@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: beige;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  transition: all 0.2s ease-in-out;
}

article:hover {
  transform: scale(1.1);
}
